


.toc a,
.toc .label,
#modal .label {
    padding: 8px;
    display: block;
    text-decoration: none;
    color: var(--text-darker);
    font-size: var(--nav-font-size);
    -webkit-font-smoothing: antialiased;
    padding-left: 0px;
}



.toc a {
    border-radius: 2px;
}

.toc a:hover,
.toc a.current {
    background-color: var(--secondary-light-violet);
}

.toc .label {
    font-weight: 700;
    padding: 4px;
    padding-left: 8px;
    margin-bottom: -1px;
    padding-bottom: 0px;
}

.toc {
    display: none;
}