
.tools {
    margin-top: 25px;
    margin-bottom: 25px;
}


.tool {
    padding: 10px;
    display: inline-block;
    width: 42vw;
    border: 1px solid #aaa;
    vertical-align: middle;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
}

.tool i {
    font-size: larger;
    padding-right: 10px;
}

