

    webc-ors {
        width: 80%;
        display: inline-block;
        margin-left: 81px;
    }


    .workspace {
        position: relative;
        margin-top: 141px;
        display: grid;
        grid-gap: 24px;
        grid-template-columns: minmax(269px, 1fr) minmax(752px, 936px) minmax(160px, 1fr);
    }

    .toc {
        display: inline-block;
        vertical-align: top;
        font-size: 1.1em;
        font-family: sans-serif;
        position: fixed;
        background-color: var(--paper-color);
        padding-top: 61px;
        padding: 16px;
        height: 800px;
        overflow-y: scroll;
        max-width: 273px;
        z-index: 5;
    }
