form {
    margin: 25px;
    font-size: 1.4em;
    width: 50%;
}

.form-item {
    margin-top:28px;
    margin-bottom:28px;
    position:relative;
}

input {
  max-width: 100%;
  font-size: inherit;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    padding: 3px;
    padding-left: 5px;
}

label {
    text-transform:uppercase;
}
label, li, input {
    font-family: Arial, sans-serif;
}